@import "constants.scss";

html {
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content-elt {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}


.content-elt.with-dates {
  position: relative;
  padding-left: 13em;
  > .dates {
    position: absolute;
    left: 0;
    top: 0;
  }
  > .title {
    font-weight: bold;
  }
  >.subtitle {
    font-weight: lighter;
  }
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
ul.no-margin {
  padding-inline-start: 0;
}


.cartouche-contact {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0.5em;
  &:first-child {
    border-left: 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-right: 1px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  > .picto {
    width: 1.5em;
    margin-right: 0.5em;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}


@media screen and (max-width: $breakpoint) {
  .content-elt.with-dates {
    padding-left: 0;
    & > .dates {
      position: relative;
      left: 0;
      top: 0;
    }
  }
}