.inline-list{
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  > li {
    list-style: none;
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.no-bullet {
  list-style: none;
}
