@import "./constants";
$portrait-size: 100px;
#me{
  position: relative;
  display: flex;
  width: 100%;
}
#selfie {
    align-items: center;
    height: 100%;
}
#title {
  width: 100%;
  text-align: center;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: $breakpoint) {
  #me {
    flex-flow: column;
  }
  #selfie {
    height: auto;
    max-width: $portrait-size;
    margin: auto;
  }
}