h1 {
  display: flex;
  flex-wrap: wrap;
  > .picto {
    width: 1.5em;
    margin-right: 0.5em;
    height: 1em;
  }
}
h2 {
  width: 100%;
  padding: 0.1em 1em;
  color: white;
  box-shadow: inset 0 0 0 1000px #B3604B;
}
h3, h4, h5 {
  margin-bottom: 0;
}


@media screen and (max-width: $breakpoint) {
  h1 {
    justify-content: center;
  }
}